<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,initial-scale:1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' media="screen"/>
    <style type="text/css">
    a{margin-left:20px;text-decoration: none;}
    a:hover{text-decoration:underline;}
    </style>
  </head>
<body screen_capture_injected="true">
    <h1>Your name:<%- user.name%></h1>
    <p>Welcome to Your Home</p>
    <p><a href="/logout">注销</a></p>
  </body>
</html>
